apiVersion: v1
kind: Config
clusters:
- cluster:
    server: http://<k8s-apiserver-private-ip>:<k8s-apiserver-insecure-port>
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet
users:
- name: kubelet
  user:
    token: <k8s-user-token>
